::selection{
    color: none;
    background: none;
}

#home-selection-div{
    display: none;
    justify-content: center;
    align-items: center;
    animation-duration: 0.7s;
    animation-name: animate-slide-in;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    cursor: default;
    transition: 0.7s;
    height: 100vh;
    flex-direction: column;
    row-gap: 2rem;
    width: 120%;
    visibility: visible;
}
#home-selection-div > div{
    width: 100%;
    background: #07070746;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px #00000076;
    transition: 0.5s;
}

/* #home-selection-div > :nth-child(1){
    animation-duration: 0.7s;
    animation-name: animate-slide-in;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}
#home-selection-div > :nth-child(2){
    animation-duration: 0.7s;
    animation-name: animate-slide-in;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}
#home-selection-div > :nth-child(3){
    animation-duration: 0.7s;
    animation-name: animate-slide-in;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
#home-selection-div > :nth-child(4){
    animation-duration: 0.7s;
    animation-name: animate-slide-in;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
}
#home-selection-div > :nth-child(5){
    animation-duration: 0.7s;
    animation-name: animate-slide-in;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
} */
#home-selection-div > div:hover{
    scale: 1.05;
    background: #07070773;
}
#home-selection-div > div:active{
    scale: 0.95;
    color:#EACB89;
}
#home-selection-div > div span{
    font-size: 2.5rem;
    text-shadow: 2px 4px 8px #636363;
}

#home-title-div{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    transition: 0.7s;

    cursor: default;
    overflow: hidden;
}
#home-title-div:hover{
    scale: 1.05;
}
#home-title-div:active{
    scale: 0.95;
    color:#EACB89;
}

.home-title, .home-bottom-title{
    text-align: center;
}
.home-title{
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 20px;
    animation-duration: 1.5s;
    animation-name: animate-fade;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    /* transition: 0.7s; */
}
.home-bottom-title{
    font-size: 3rem;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-name: animate-fade;
    animation-delay: 1.4s;
    animation-fill-mode: backwards;
    /* transition: 0.7s; */
    padding: 10px;
}


@media only screen and (max-width: 430px) {
    .home-title{
        font-size: 2.5rem;
    }
    .home-bottom-title{
        font-size: 1.5rem;
    }

    #home-selection-div > div span{
        font-size: 2rem;
    }
}

@media only screen and (max-height: 380px) {
    .home-title{
        font-size: 2.5rem;
    }
    .home-bottom-title{
        font-size: 1.5rem;
    }
    #home-selection-div{
        row-gap: 1rem;
    }
    #home-selection-div > div span{
        font-size: 1rem;
    }
}