* {
    box-sizing:border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    color: #ffff;
    min-height: 100vh;

    background-image: url(../images/orelatree_bg.png); /*../images/orelatree_bg.png*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;

    transition: 0.3s;
}

#main-content{
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.video-container{
    margin: 0;
    object-fit: cover;
}

.video-bg{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.top-navbar{
    display: none;
    opacity: 0;
    width: 100%;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode:backwards;
    animation-delay: 0.05s;
    transition: 0.5s;
}
.hideVisibility{
    visibility: hidden;
}
.top-navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 25px;
    justify-content: right;
    padding-right: 6rem;
    padding-left: 6rem;
    width: 50%;
}
.top-navbar :nth-child(1){
    justify-content: left;
}
.top-navbar > ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}
.top-navbar > ul li a:hover {
    transition: 0.3s;
}
.top-navbar > ul li a:hover {
    /* font-size: 1.45rem; */
    color:#EACB89;
}

.top-navbar-burgermenu-button{
    display: none;
    align-self: flex-start;
    justify-self: start;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode:backwards;
    animation-delay: 0.05s;
    transition: 0.5s;
}
.top-navbar-burgermenu-button img{
    object-fit: cover;
}
.top-navbar-burgermenu-contents{
    display: none;
    flex-direction: column  ;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    animation-duration: 0.9s;
    animation-name: animate-slide-in;
    animation-fill-mode:backwards;
    animation-delay: 0.2s;
    transition: 0.5s;
}
.top-navbar-burgermenu-contents > ul{
    display: flex;
    flex-direction: column ;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    row-gap: 1.5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top-navbar-burgermenu-contents > ul li{
    width: 100%;
    background: #07070746;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px #00000076;
    transition: 0.5s;
}
.top-navbar-burgermenu-contents > ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;    
    /* font-size: 2.5rem; */
    text-shadow: 2px 4px 8px #636363;
}
.top-navbar-burgermenu-contents > ul li:hover{
    scale: 1.05;
    background: #07070773;
    transition: 0.3s;
    color:#EACB89;
}
.top-navbar-burgermenu-contents > ul li:active{
    scale: 0.95;
    color:#EACB89;
}



.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 5rem;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    animation-name: animate-slide-right;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-fill-mode:backwards;

    transition: 0.3s;
}

.top-title{
    display: flex;
    /* justify-content: center; */
    align-items:center;
}
.top-title > span{
    font-size: 4rem;
    text-align: center;
    
    animation-name: animate-opacity;
    animation-delay: 1.4s;
    animation-duration: 1s;
    animation-fill-mode:backwards;
    cursor: default;
}

.contents-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
    background: #3b3b3bcd;
    padding-bottom: 100px;
}
.contents-outline-bar{
    background: #EACB89;
    width: 100%;
    height: 17px;
    margin-bottom: 5rem;
    box-shadow: inset 0px -2px 4px #2d2d2d6d;
    animation-name: animate-slide-right;
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-fill-mode:backwards;
}
.contents-div{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 5rem;
    width: 70vw;
    height: 100%;
    align-items:start;
    justify-content: center;
}
.dropdown-section{
    border-bottom: 2px solid#2d2d2d;
    width: 100%;
    transition: 0.3s;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-name: animate-fade;
}
.dropdown-section > span{
    font-size: 1.5rem;
    color: #EACB89;
    cursor: default;
}
.dropdown-section > p{
    display: none;
    transition: 0.3s;
}
.contents-top-description{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 85vw;
}
.contents-top-description *{
    text-align: center;
    font-size: 1.5rem;
}
.contents-top-description span{
    font-size: 2.5rem;
    color:#EACB89;
}
.contents-div-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    row-gap: 1rem;
    column-gap: 5rem;
    width: 85vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    /* padding-right: 6rem;
    padding-left: 6rem; */
}
.contents-div-grid:has(.card:hover) .card:not(:hover) {
    filter: blur(2px)
}
.contents-div-grid:has(.card:hover) .card:hover > p {
    opacity: 1;
    margin-bottom: 30px;
}
.card{
    --random_rotation: 0.5deg;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    transform: rotate(var(--random_rotation));
    transition: 0.4s;
}
.card:hover{
    scale: 1.05;
    transform: rotate(0deg);
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 4px #2d2d2d;
}
.card span{
    color: #EACB89;
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
}
.card p{
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
    /* margin-top: 10px; */
}

@keyframes animate-opacity {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }
@keyframes animate-fade {
    0% { opacity: 0; 
      transform: scale(0.95, 0.95);}
    100% { opacity: 1; 
      transform: scale(1, 1);}
  }

@keyframes animate-slide-in {
    0% { opacity: 0; 
        transform: translateY(100%);}
    100% { opacity: 1; 
        transform: translateY(0%);
    }
  }

@keyframes animate-slide-in-reverse {
    0% { opacity: 0; 
        transform: translateY(-10%);}
    100% { opacity: 1; 
        transform: translateY(0%);
    }
  }

@keyframes animate-slide-right {
    0% { opacity: 0; 
        transform: translateX(100%);}
    100% { opacity: 1; 
        transform: translateX(0%);
    }
  }

body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
    display: none;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: transparent;
    display: none;
}
 
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 6px;
    /* height: 10px; */
}

@media only screen and (max-width: 1168px) {
    .top-navbar ul{
        padding-right: 1rem;
        padding-left: 1rem;
        column-gap: 15px;
    }
    /* .top-navbar-burgermenu-button{
        display: none;
    } */
    
}
@media only screen and (min-width: 785px) {
    .top-navbar-burgermenu{
        display: none;
    }
    .top-navbar-burgermenu-button{
        display: none;
    }
    .top-navbar-burgermenu-button img{
        display: none;
    }
    .top-navbar-burgermenu-contents{
        display: none;
    }
    .top-navbar-burgermenu-contents *{
        display: none;
    }
}
@media only screen and (max-width: 785px) {
    body{
        min-height: 100%;
    }
    .top-navbar{
        display: none;
    }
    .top-navbar-burgermenu-button{
        display: flex;
        
    }
    .top-navbar-burgermenu-button img{
        display: flex;
    }
    .top-navbar > ul{
        display: none;
    }
}