body{
    margin: 0;
    /* padding-left: 6rem;
    padding-right: 6rem; */
    box-sizing: border-box;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    position: relative;

    color: #ac5151;
    min-height: 100vh;

    background-image: url(/images/orelatree_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    z-index: -1;
}

.top-navbar{
    display: flex;
    width: 100%;
    animation-duration: 0.5s;
    /* animation-name: animate-fade; */
    animation-fill-mode:backwards;
    animation-delay: 0.05s;
}
.hideVisibility{
    visibility: hidden;
}
.top-navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 25px;
    justify-content: right;
    padding-right: 6rem;
    padding-left: 6rem;
    width: 50%;
}
.top-navbar :nth-child(1){
    justify-content: left;
}
.top-navbar > ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 5rem;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    animation-name: animate-slide-right;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-fill-mode:backwards;

    transition: 0.3s;
}

.top-title > span{
    font-size: 4rem;
    
    animation-name: animate-slide-right;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode:backwards;
    cursor: default;
}

.contents-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
    background: #3b3b3bcd;
    padding-bottom: 100px;
}
.contents-outline-bar{
    background: #EACB89;
    width: 100%;
    height: 17px;
    margin-bottom: 5rem;
    box-shadow: inset 0px -2px 4px #2d2d2d6d;
    animation-name: animate-slide-right;
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-fill-mode:backwards;
}
.contents-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    row-gap: 4rem;
    column-gap: 5rem;
    width: 70vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* padding-right: 6rem;
    padding-left: 6rem; */
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 4px #2d2d2d;
}
.card span{
    color: #EACB89;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
}
.card p{
    text-align: center;
    margin: 0;
    /* margin-top: 10px; */
}

@keyframes animate-fade {
    0% { opacity: 0; 
      transform: scale(0.95, 0.95);}
    100% { opacity: 1; 
      transform: scale(1, 1);}
  }

@keyframes animate-slide-in {
    0% { opacity: 0; 
        transform: translateY(100%);}
    100% { opacity: 1; 
        transform: translateY(0%);
    }
  }

@keyframes animate-slide-in-reverse {
    0% { opacity: 0; 
        transform: translateY(-10%);}
    100% { opacity: 1; 
        transform: translateY(0%);
    }
  }

@keyframes animate-slide-right {
    0% { opacity: 0; 
        transform: translateX(100%);}
    100% { opacity: 1; 
        transform: translateX(0%);
    }
  }

body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
    display: none;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: transparent;
    display: none;
}
 
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 6px;
    /* height: 10px; */
}