* {
    box-sizing:border-box;
}

::selection{
    background: none;
}
span::selection,p::selection{
    background: rgba(255, 255, 255, 0.375);
    /* background: none; */
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;

    color: #ffff;
    min-height: 100vh;

    background-image: url(../images/orella_tree_winter2.png); /*../images/orelatree_bg.png*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    overflow: overlay;
    transition: 0.3s;
}

#main-content{
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.video-container{
    margin: 0;
    object-fit: cover;
}

.video-bg{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.top-navbar{
    display: none;
    opacity: 0;
    width: 100%;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode:backwards;
    animation-delay: 0.05s;
    transition: 0.5s;
}
.hideVisibility{
    visibility: hidden;
}
.top-navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 25px;
    justify-content: right;
    padding-right: 6rem;
    padding-left: 6rem;
    width: 50%;
}
.top-navbar :nth-child(1){
    justify-content: left;
}
.top-navbar > ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}
.top-navbar > ul li a:hover {
    transition: 0.3s;
}
.top-navbar > ul li a:hover {
    /* font-size: 1.45rem; */
    color:#EACB89;
}

.top-navbar-burgermenu-button{
    display: none;
    align-self: flex-start;
    justify-self: start;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-fill-mode:backwards;
    animation-delay: 0.05s;
    transition: 0.5s;
}
.top-navbar-burgermenu-button div{
    display: flex;
}
.top-navbar-burgermenu-contents{
    display: none;
    flex-direction: column  ;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    animation-duration: 0.9s;
    animation-name: animate-slide-in;
    animation-fill-mode:backwards;
    animation-delay: 0.2s;
    transition: 0.5s;
}
.top-navbar-burgermenu-contents > ul{
    display: flex;
    flex-direction: column ;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.top-navbar-burgermenu-contents > ul li{
    width: 100%;
    background: #07070746;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 7px #00000076;
    transition: 0.5s;
}
.top-navbar-burgermenu-contents > ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;    
    /* font-size: 2.5rem; */
    text-shadow: 2px 4px 8px #636363;
}
.top-navbar-burgermenu-contents > ul li:hover{
    scale: 1.05;
    background: #07070773;
    transition: 0.3s;
    color:#EACB89;
}
.top-navbar-burgermenu-contents > ul li:active{
    scale: 0.95;
    color:#EACB89;
}



.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 5rem;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
    animation-name: animate-slide-right;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-fill-mode:backwards;

    transition: 0.3s;
}

.top-title{
    display: flex;
    /* justify-content: center; */
    align-items:center;
}
.top-title > span{
    font-size: 4rem;
    text-align: center;
    
    animation-name: animate-opacity;
    animation-delay: 1.4s;
    animation-duration: 1s;
    animation-fill-mode:backwards;
    cursor: default;
}

.contents-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
    background: #3b3b3bcd;
    padding-bottom: 100px;
}
.contents-outline-bar{
    background: #EACB89;
    width: 100%;
    height: 17px;
    margin-bottom: 5rem;
    box-shadow: inset 0px -2px 4px #2d2d2d6d;
    animation-name: animate-slide-right;
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-fill-mode:backwards;
}
.contents-div{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 5rem;
    width: 70vw;
    height: 100%;
    align-items:start;
    justify-content: center;
}
.dropdown-section{
    border-bottom: 2px solid#2d2d2d;
    width: 100%;
    transition: 0.3s;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-name: animate-fade;
}
.dropdown-section > span{
    font-size: 1.5rem;
    color: #EACB89;
    cursor: default;
}
.dropdown-section > p{
    display: none;
    transition: 0.3s;
}
.contents-top-description{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 85vw;
}
.contents-top-description *{
    text-align: center;
    font-size: 1.5rem;
}
.contents-top-description span{
    font-size: 2.5rem;
    color:#EACB89;
    border-bottom: 4px solid #EACB89;

}
.contents-div-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    row-gap: 1rem;
    column-gap: 5rem;
    width: 85vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    /* padding-right: 6rem;
    padding-left: 6rem; */
}
.contents-div-grid:has(.card:hover) .card:not(:hover) {
    filter: blur(2px)
}
.contents-div-grid:has(.card:hover) .card:hover > p {
    opacity: 1;
    margin-bottom: 30px;
}
.card{
    --random_rotation: 0.5deg;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 20rem;
    transform: rotate(var(--random_rotation));
    transition: 0.4s;
}
.card:hover{
    scale: 1.05;
    transform: rotate(0deg);
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 12rem;
    border-radius: 8px;
    box-shadow: 1px 6px 4px #1e1e1e;
}
.card span{
    color: #EACB89;
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
}
.card p{
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
    /* margin-top: 10px; */
}


.contents-div{
    display: flex;
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
}
.info-section-contents{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20px;
    row-gap: 10px;
}
.info-section-contents p{
    margin-top: 0;
    font-size: 1.3rem;
}
.info-section-contents div{
    width: 100%;
    height: 12rem;
}
.info-section-contents>div img{
    width: 100%;
    height: 100%;
    /* height: auto; */
    object-fit: cover;
}

.infopost-agenda{
    display: flex;
    flex-direction: column;

    /* width: 40%; */
    border: 2px solid #EACB89;
    border-radius: 10px;
    background: #2b2b2b86;
    box-shadow: inset 0 0 10px #000;
}
.infopost-agenda div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items:center;

    width: 100%;
    border-bottom: 1.5px solid #EACB89;
    padding: 10px;
}
.infopost-agenda div:nth-child(2){
    padding-right: 15px;
}
.infopost-agenda img{
    width: 30px;
    height: auto;
}
.infopost-agenda ul{
    list-style-type:decimal;
}
.infopost-agenda li{
    font-style: italic;
    color:#fff;
}
.infopost-agenda li a{
    text-decoration: none;
    color:#ffffff;
    /* font-size: 0.8rem; */
}

.infopost-contents{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
    justify-content: start;
    row-gap: 2rem;
}
.infopost-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.infopost-section h3{
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #EACB89;
    font-size: 1.4rem;
}
.infopost-section h4{
    margin-bottom: 4px;
    font-size: 1.3rem;
    text-decoration: underline;
}
.infopost-section-chapter{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.infopost-section-chapter p{
    padding-top: 0;
    margin-top: 0;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 0;
}
.infopost-section-chapter a{
    color:#EACB89;
}

.paragraph-image-subsection-side{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.paragraph-image-subsection-side img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
.paragraph-image-subsection-bottom{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.paragraph-image-subsection-bottom img{
    width: 80%;
    height: 20rem;
    object-fit:fill;
}
.paragraph-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.paragraph-image-div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.paragraph-image-div img{
    /* object-fit: cover; */
    /* width: 15rem; */
    /* height: 15rem; */
    border-radius: 8px;
    box-shadow: 0px 4px 4px #2d2d2d;
}
.paragraph-image-div span{
    font-size: 0.9rem;
    color:#B3B3B3;
}
@keyframes animate-opacity {
    0% { opacity: 0; }
    100% { opacity: 1;}
  }
@keyframes animate-fade {
    0% { opacity: 0; 
      transform: scale(0.95, 0.95);}
    100% { opacity: 1; 
      transform: scale(1, 1);}
  }

@keyframes animate-slide-in {
    0% { opacity: 0; 
        transform: translateY(100%);}
    100% { opacity: 1; 
        transform: translateY(0%);
    }
  }

@keyframes animate-slide-in-reverse {
    0% { opacity: 0; 
        transform: translateY(-10%);}
    100% { opacity: 1; 
        transform: translateY(0%);
    }
  }

@keyframes animate-slide-right {
    0% { opacity: 0; 
        transform: translateX(100%);}
    100% { opacity: 1; 
        transform: translateX(0%);
    }
  }


::-webkit-scrollbar {
    background:#373838;
    width: .3em;
}
::-webkit-scrollbar-track {
    margin-block: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #eacb8943;
    outline: 1px solid #eacb8900;
    border-radius: 6px;
    transition: 0.1s;
    /* opacity: 0; */
    /* height: 10px; */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #EACB89;
    outline: 1px solid #EACB89;
}

/* @supports (scrollbar-color: #373838 #eacb8971){
    *{
        scrollbar-color: #eacb8952 #373838 ;
        scrollbar-width: thin;
    }
} */

@media only screen and (max-width: 1168px) {
    .top-navbar ul{
        padding-right: 1rem;
        padding-left: 1rem;
        column-gap: 15px;
    }
}
@media only screen and (min-width: 787px) {
    .top-navbar-burgermenu{
        display: none;
    }
    .top-navbar-burgermenu-button{
        display: none;
    }
    .top-navbar-burgermenu-button img{
        display: none;
    }
    .top-navbar-burgermenu-contents{
        display: none;
    }

    
}
@media only screen and (max-width: 786px) {
    body{
        /* min-height: 100%; */
    }
    .top-navbar{
        display: none;
    }
    .top-navbar > ul{
        display: none;
    }

    .main-container{
        row-gap: 20px;
        margin-top: 5rem;
    }
    .contents-outline-bar{
        margin-bottom: 2rem;
    }
    .top-title span{
        font-size: 3rem;
    }
    .contents-top-description span{
        font-size: 2rem;
    }
    .contents-top-description p{
        font-size: 1rem;
    }

    .infopost-section-chapter p{
        font-size: 1rem;
    }
    .infopost-section h3{
        font-size: 1.2rem;
    }
    .infopost-section h4{
        font-size: 1.1rem;
    }

    .paragraph-image-subsection-side{
        flex-direction: column;
        row-gap: 15px;
    }
    .paragraph-image-subsection-side img{
        /* width: 50%; */
        height: 8rem;
    }
    /* .paragraph-image-subsection-bottom{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    } */
    .paragraph-image-subsection-bottom img{
        width: 90%;
        height: 10rem;
        object-fit:fill;
    }
    .paragraph-image-div span{
        font-size: 0.7rem;
    }

    .info-section-contents{
        flex-direction: column;
    }
    .info-section-contents p{
        font-size: 1rem;
    }

    .contents-div{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (max-width: 425px) {
    .top-title span{
        font-size: 2.5rem;
    }

    .contents-top-description span{
        font-size: 1.8rem;
    }
    .contents-div{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .infopost-section-chapter p{
        font-size: 0.9rem;
    }
    .infopost-section h3{
        font-size: 1.1rem;
    }
    .infopost-section h4{
        font-size: 1rem;
    }
    .infopost-agenda li a{
        font-size: 0.8rem;
    }
}